@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);

:root {
    --white: #fff;

    --container-width: 1270px;
    --container-padding: 15px;

    --secondary: rgba(15, 31, 28, 0.5);

    --transition: all 0.3s ease-out;
}

.none {
    display: none !important;
}

/* *{
    border: 2px solid red;
} */

body {
    font-family: "Popins", sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* HEADER */

.header {
    position: relative;
    min-height: 940px;
    background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%), #204434;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background: url(./../assets/header/header_bottom.svg) center / cover no-repeat;
}

.header-top {
    margin-bottom: 86px;
    padding-top: 44px;
}

.header-content {
    max-width: 592px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo a {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    transition: var(--transition);
}

.nav__logo:hover a {
    display: block;
    transform: scale(1.3);
}

.nav__list {
    display: flex;
    column-gap: 80px;
    align-items: center;
}

.nav__item a {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    transition: var(--transition);
}

.nav__item:hover a {
    display: block;
    transform: scale(1.3);
}

.nav__login {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.nav__login a {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    transition: var(--transition);
}

.sing_up:hover {
    opacity: 0.7;
}

.sing_in {
    border-radius: 100px;
    background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;
    padding: 13px 44px;
}

.sing_in:hover {
    opacity: 0.7;
}